dist: bionic
language: generic
git:
  depth: 1

if: branch = master #AND type = push

env:
  - SERVICE=adapter-registry
  - SERVICE=data-manager
  - SERVICE=endpoint-registry
  - SERVICE=https-endpoint-egress
  - SERVICE=https-endpoint-ingress
  - SERVICE=onboarding-skill
  - SERVICE=storage-adapter-mongodb
  - SERVICE=grpc-endpoint-ingress
  - SERVICE=grpc-endpoint-egress
  - SERVICE=initializer
  - SERVICE=endpoint-resolver

install:
  - make --version
  - docker --version
  - docker-compose --version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - make build-single
  - make push-single
