dist: bionic
language: minimal
git:
  depth: 1

if: (branch = canary OR branch = master ) AND (type = push OR type = pull_request)

env:
  global:
    - REGISTRY=$AZURE_CONTAINER_REGISTRY
    - BUILD_TAG=$(cat .git/refs/heads/${TRAVIS_BRANCH})
  matrix:
    - SVC=adapter-registry
    - SVC=data-manager
    - SVC=endpoint-registry
    - SVC=https-endpoint-egress
    - SVC=https-endpoint-ingress
    - SVC=onboarding-skill
    - SVC=storage-adapter-mongodb
    - SVC=grpc-endpoint-ingress
    - SVC=grpc-endpoint-egress
    - SVC=initializer
    - SVC=endpoint-resolver
    - SVC=echo-skill

before_install:
  - make --version
  - docker --version
  - docker-compose --version

install:
  - if [ $TRAVIS_BRANCH = master ]; then
      REGISTRY="sapi40";
      echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin;
    else
      openssl aes-256-cbc -K $encrypted_260941c77da3_key -iv $encrypted_260941c77da3_iv -in azure-service-principal.txt.enc -out azure-service-principal.txt -d;
      cat azure-service-principal.txt | docker login $AZURE_CONTAINER_REGISTRY -u $service_principal_id --password-stdin;
    fi
  - if [[ -n $TRAVIS_PULL_REQUEST_BRANCH ]]; then
      BUILD_TAG=$TRAVIS_PULL_REQUEST_BRANCH;
    fi
  - make build-$SVC
  - if [ $TRAVIS_EVENT_TYPE = push ]; then
      make push-$SVC;
    fi

stages:
  - lib-test
  - unit-test
  - integration-test
  - test # use as build stage
  - name: deploy
    if: type = push

jobs:
  include:
    - stage: lib-test
      name: TS AMQP-Client pkg
      language: node_js
      node_js: lts/*
      install:
        - cd src/ts/pkg/AMQP-Client
        - npm install
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./test/integration-test-setup
        - sleep 30
      script:
        - npm run test

    - stage: lib-test
      name: Go AMQP-Client pkg
      language: go
      env: GO111MODULE="on"
      install:
        - docker-compose up -d rabbitmq
        - cd src/go/pkg/amqpclient
        - go mod download
      script:
        - go test

    - stage: lib-test
      name: Go interaction pkg
      language: go
      env: GO111MODULE="on"
      install:
        - cd src/go/pkg/interaction
        - go mod download
      script:
        - go test

    - stage: lib-test
      name: Go logging pkg
      language: go
      env: GO111MODULE="on"
      install:
        - cd src/go/pkg/logging
        - go mod download
      script:
        - go test

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=onboarding-skill
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - cd ./node_modules/AMQP-Client
        - npm install
        - npm run build
        - cd ../../
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./integration-test-setup
        - sleep 30
      script:
        - npm run test
        - npm run test-with-integration

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=data-manager
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./test/integration-test-setup
      script:
        - npm test

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=adapter-registry
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./test/integration-test-setup
      script:
        - npm test

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=endpoint-registry
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - source ./integration-test-setup
        - sleep 30
      script:
        - npm run test
        - npm run test-with-integration

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=https-endpoint-egress
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - cd ./node_modules/AMQP-Client
        - npm install
        - npm run build
        - cd ../../
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./test/integration-test-setup
        - sleep 30
      script:
        - npm test

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=https-endpoint-ingress
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - cd ./node_modules/AMQP-Client
        - npm install
        - npm run build
        - cd ../../
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./test/integration-test-setup
        - sleep 30
      script:
        - npm run itest

    - stage: unit-test
      language: node_js
      node_js: lts/*
      env: SVC=storage-adapter-mongodb
      install:
        - cd src/ts/cmd/${SVC}
        - npm install
        - cd ./node_modules/aas-logger
        - npm install
        - npm run build
        - cd ../../
        - source ./integration-test-setup
        - sleep 30
      script:
        - npm run test-with-integration

    - stage: unit-test
      language: go
      env: SVC=grpc-endpoint-ingress GO111MODULE="on"
      install:
        - cd src/go/cmd/${SVC}
        - go mod download
      script:
        - go test

    - stage: unit-test
      language: go
      env: SVC=grpc-endpoint-egress GO111MODULE="on"
      install:
        - cd src/go/cmd/${SVC}
        - go mod download
      script:
        - go test

    - stage: unit-test
      language: go
      env: SVC=endpoint-resolver GO111MODULE="on"
      install:
        - cd src/go/cmd/${SVC}
        - go mod download
      script:
        - go test

    - stage: integration-test
      language: node_js
      node_js: lts/*
      install:
        - npm install -g newman
        - make
        - docker-compose -f docker-compose.yml up -d --force-recreate
        - sleep 60
      script:
        - newman run docs/postman/AAS.postman_collection.json --delay-request 1000

    - stage: deploy
      before_install:
        - openssl aes-256-cbc -K $encrypted_260941c77da3_key -iv $encrypted_260941c77da3_iv -in azure-service-principal.txt.enc -out azure-service-principal.txt -d        
        - sudo apt-get update
        - sudo apt-get install ca-certificates curl apt-transport-https lsb-release gnupg
        - curl -sL https://packages.microsoft.com/keys/microsoft.asc |
            gpg --dearmor |
            sudo tee /etc/apt/trusted.gpg.d/microsoft.asc.gpg > /dev/null
        - AZ_REPO=$(lsb_release -cs)
        - echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" |
            sudo tee /etc/apt/sources.list.d/azure-cli.list
        - sudo apt-get update && sudo apt-get install azure-cli
        - curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.15.10/bin/linux/amd64/kubectl
        - chmod +x ./kubectl
        - sudo mv ./kubectl /usr/local/bin/kubectl
        - curl -LO https://get.helm.sh/helm-v3.1.2-linux-amd64.tar.gz
        - tar -zxvf helm-v3.1.2-linux-amd64.tar.gz
        - sudo mv linux-amd64/helm /usr/local/bin/helm
      install:
        - az version
        - (AZ_PASS=$(cat azure-service-principal.txt) && az login --service-principal -u $service_principal_id -p $AZ_PASS --tenant $SAP_TENANT)
        - az aks get-credentials -n i40aas -g i40-aas
        - kubectl config get-contexts
        - helm version
      deploy:
        - provider: script
          script: helm upgrade master helm/i40-aas --atomic --reuse-values -n aas-master --set image.release=$BUILD_TAG && \
                  helm upgrade oi4 helm/i40-aas --atomic --reuse-values -n aas-oi4 --set image.release=$BUILD_TAG
          on:
            branch: master
        - provider: script
          script: helm upgrade canary helm/i40-aas --atomic --reuse-values -n aas-canary --set image.release=$BUILD_TAG
          on:
            branch: canary
