version: '3.7'
services:
  ########################################################
  #### i40-aas core containers
  ##########################################
  i40-aas-https-endpoint-ingress:
    image: sapi40/i40-aas-https-endpoint-ingress
    ports:
      - "${CORE_INGRESS_HTTP_PORT}:${CORE_INGRESS_HTTP_PORT}"
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## broker
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_INGRESS_USER=${CORE_INGRESS_USER}
      - CORE_INGRESS_PASSWORD=${CORE_INGRESS_PASSWORD}
      - CORE_INGRESS_EXCHANGE=${CORE_INGRESS_EXCHANGE}
      ## server config
      - CORE_INGRESS_HTTP_PORT=${CORE_INGRESS_HTTP_PORT}
      - CORE_INGRESS_HTTP_USER=${CORE_INGRESS_HTTP_USER}
      - CORE_INGRESS_HTTP_PASSWORD=${CORE_INGRESS_HTTP_PASSWORD}
  ##########################################
  i40-aas-https-endpoint-egress:
    image: sapi40/i40-aas-https-endpoint-egress
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## broker
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_EGRESS_USER=${CORE_EGRESS_USER}
      - CORE_EGRESS_PASSWORD=${CORE_EGRESS_PASSWORD}
      - CORE_EGRESS_EXCHANGE=${CORE_EGRESS_EXCHANGE}
      - CORE_EGRESS_HTTP_QUEUE=${CORE_EGRESS_HTTP_QUEUE}
      - CORE_EGRESS_HTTP_CTAG=${CORE_EGRESS_HTTP_CTAG}
  ##########################################
  i40-aas-grpc-endpoint-ingress:
    image: sapi40/i40-aas-grpc-endpoint-ingress
    ports:
      - "${CORE_INGRESS_GRPC_PORT}:${CORE_INGRESS_GRPC_PORT}"
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## broker
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_INGRESS_USER=${CORE_INGRESS_USER}
      - CORE_INGRESS_PASSWORD=${CORE_INGRESS_PASSWORD}
      - CORE_INGRESS_EXCHANGE=${CORE_INGRESS_EXCHANGE}
      ## server config
      - CORE_INGRESS_GRPC_PORT=${CORE_INGRESS_GRPC_PORT}
  ##########################################
  i40-aas-grpc-endpoint-egress:
    image: sapi40/i40-aas-grpc-endpoint-egress
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## broker
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_EGRESS_USER=${CORE_EGRESS_USER}
      - CORE_EGRESS_PASSWORD=${CORE_EGRESS_PASSWORD}
      - CORE_EGRESS_EXCHANGE=${CORE_EGRESS_EXCHANGE}
      - CORE_EGRESS_GRPC_QUEUE=${CORE_EGRESS_GRPC_QUEUE}
      - CORE_EGRESS_GRPC_CTAG=${CORE_EGRESS_GRPC_CTAG}
  ##########################################
  i40-aas-endpoint-resolver:
    image: sapi40/i40-aas-endpoint-resolver
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## broker
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_EGRESS_USER=${CORE_EGRESS_USER}
      - CORE_EGRESS_PASSWORD=${CORE_EGRESS_PASSWORD}
      - CORE_EGRESS_EXCHANGE=${CORE_EGRESS_EXCHANGE}
      - CORE_ENDPOINT_RESOLVER_CTAG=${CORE_ENDPOINT_RESOLVER_CTAG}
      - CORE_EGRESS_ROUTINGKEY=${CORE_EGRESS_ROUTINGKEY}
      ## endpoint registry
      - CORE_REGISTRIES_ENDPOINTS_HOST=i40-aas-endpoint-registry
      - CORE_REGISTRIES_ENDPOINTS_PORT=${CORE_REGISTRIES_ENDPOINTS_PORT}
      - CORE_REGISTRIES_ENDPOINTS_URL_SUFFIX=${CORE_REGISTRIES_ENDPOINTS_URL_SUFFIX}
      - CORE_REGISTRIES_ENDPOINTS_USER=${CORE_REGISTRIES_ENDPOINTS_USER}
      - CORE_REGISTRIES_ENDPOINTS_PASSWORD=${CORE_REGISTRIES_ENDPOINTS_PASSWORD}
  ##########################################
  i40-aas-data-manager:
    image: sapi40/i40-aas-data-manager
    ports:
      - "${CORE_DATA_MANAGER_PORT}:${CORE_DATA_MANAGER_PORT}"
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## adapter-registry
      - CORE_REGISTRIES_ADAPTERS_PROTOCOL=http
      - CORE_REGISTRIES_ADAPTERS_HOST=i40-aas-adapter-registry
      - CORE_REGISTRIES_ADAPTERS_PORT=${CORE_REGISTRIES_ADAPTERS_PORT}
      - CORE_REGISTRIES_ADAPTERS_URL_SUFFIX=${CORE_REGISTRIES_ADAPTERS_URL_SUFFIX}
      - CORE_REGISTRIES_ADAPTERS_USER=${CORE_REGISTRIES_ADAPTERS_USER}
      - CORE_REGISTRIES_ADAPTERS_PASSWORD=${CORE_REGISTRIES_ADAPTERS_PASSWORD}
      ## data-manager
      - CORE_DATA_MANAGER_PORT=${CORE_DATA_MANAGER_PORT}
      - CORE_DATA_MANAGER_USER=${CORE_DATA_MANAGER_USER}
      - CORE_DATA_MANAGER_PASSWORD=${CORE_DATA_MANAGER_PASSWORD}
  ##########################################
  i40-aas-endpoint-registry:
    image: sapi40/i40-aas-endpoint-registry
    ports:
      - "${CORE_REGISTRIES_ENDPOINTS_PORT}:${CORE_REGISTRIES_ENDPOINTS_PORT}"
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## postgres
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_HOST=endpoint-registry-postgres
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_PORT=${CORE_REGISTRIES_ENDPOINTS_DATABASE_PORT}
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_USER=${CORE_REGISTRIES_ENDPOINTS_DATABASE_USER}
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_PASSWORD=${CORE_REGISTRIES_ENDPOINTS_DATABASE_PASSWORD}
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_NAME=${CORE_REGISTRIES_ENDPOINTS_DATABASE_NAME}
      ## endpoint-registry
      - CORE_REGISTRIES_ENDPOINTS_USER=${CORE_REGISTRIES_ENDPOINTS_USER}
      - CORE_REGISTRIES_ENDPOINTS_PASSWORD=${CORE_REGISTRIES_ENDPOINTS_PASSWORD}
  ##########################################
  i40-aas-adapter-registry:
    image: sapi40/i40-aas-adapter-registry
    ports:
      - "${CORE_REGISTRIES_ADAPTERS_PORT}:${CORE_REGISTRIES_ADAPTERS_PORT}"
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## adapter-registry
      - CORE_REGISTRIES_ADAPTERS_USER=${CORE_REGISTRIES_ADAPTERS_USER}
      - CORE_REGISTRIES_ADAPTERS_PASSWORD=${CORE_REGISTRIES_ADAPTERS_PASSWORD}
  ##########################################
  i40-aas-initializer:
    image: sapi40/i40-aas-initializer
    volumes:
      - ./src/compose/volumes/initializer/:/initializer
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## services addresses
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_HOST=endpoint-registry-postgres
      - CORE_REGISTRIES_ENDPOINTS_DATABASE_PORT=${CORE_REGISTRIES_ENDPOINTS_DATABASE_PORT}
      - CORE_REGISTRIES_ENDPOINTS_HOST=i40-aas-endpoint-registry
      - CORE_REGISTRIES_ENDPOINTS_PORT=${CORE_REGISTRIES_ENDPOINTS_PORT}
      - CORE_DATA_MANAGER_HOST=i40-aas-data-manager
      - CORE_DATA_MANAGER_PORT=${CORE_DATA_MANAGER_PORT}
      - APPLICATION_ADAPTERS_MONGODB_HOST=mongodb
      - APPLICATION_ADAPTERS_MONGODB_PORT=${APPLICATION_ADAPTERS_MONGODB_PORT}
      - CORE_REGISTRIES_ADAPTERS_HOST=i40-aas-adapter-registry
      - CORE_REGISTRIES_ADAPTERS_PORT=${CORE_REGISTRIES_ADAPTERS_PORT}
      - CORE_INGRESS_HTTP_HOST=i40-aas-https-endpoint-ingress
      - CORE_INGRESS_HTTP_PORT=${CORE_INGRESS_HTTP_PORT}
      - CORE_INGRESS_GRPC_HOST=i40-aas-grpc-endpoint-ingress
      - CORE_INGRESS_GRPC_PORT=${CORE_INGRESS_GRPC_PORT}
      ## TODO: add endpoint-resolver, http-endpoint-egress and grpc-endpoint-egress
      ## once healthchecks are added
      # - =${}
  ##########################################



  ########################################################
  #### i40-aas skills & adapters
  ##########################################
  i40-aas-echo-skill:
    image: sapi40/i40-aas-echo-skill
    ports:
      - "${SKILLS_ECHO_PORT}:${SKILLS_ECHO_PORT}"
    volumes:
      - ./src/compose/volumes/echo-skill/data:/data
    environment:
      - CORE_BROKER_HOST=rabbitmq
      - CORE_EGRESS_EXCHANGE=${CORE_EGRESS_EXCHANGE}
      - CORE_INGRESS_EXCHANGE=${CORE_INGRESS_EXCHANGE}
      - CORE_EGRESS_ROUTINGKEY=${CORE_EGRESS_ROUTINGKEY}
      - PORT=${SKILLS_ECHO_PORT}
  ##########################################
  i40-aas-onboarding-skill:
    image: sapi40/i40-aas-onboarding-skill
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## mongodb
      - SKILLS_ONBOARDING_DATABASE_HOST=mongodb
      - SKILLS_ONBOARDING_DATABASE_PORT=${SKILLS_ONBOARDING_DATABASE_PORT}
      - SKILLS_ONBOARDING_DATABASE_USER=${SKILLS_ONBOARDING_DATABASE_USER}
      - SKILLS_ONBOARDING_DATABASE_PASSWORD=${SKILLS_ONBOARDING_DATABASE_PASSWORD}
      - SKILLS_ONBOARDING_DATABASE_NAME=${SKILLS_ONBOARDING_DATABASE_NAME}
      ## rabbitmq
      - CORE_BROKER_HOST=rabbitmq
      - CORE_BROKER_PORT=${CORE_BROKER_PORT}
      - CORE_EGRESS_USER=${CORE_EGRESS_USER}
      - CORE_EGRESS_PASSWORD=${CORE_EGRESS_PASSWORD}
      - CORE_EGRESS_EXCHANGE=${CORE_EGRESS_EXCHANGE}
      - CORE_INGRESS_EXCHANGE=${CORE_INGRESS_EXCHANGE}
      - CORE_INGRESS_USER=${CORE_INGRESS_USER}
      - CORE_INGRESS_PASSWORD=${CORE_INGRESS_PASSWORD}
      - CORE_EGRESS_ROUTINGKEY=${CORE_EGRESS_ROUTINGKEY}
      ## onboarding-skill
      - SKILLS_ONBOARDING_REQUEST_APPROVAL=${SKILLS_ONBOARDING_REQUEST_APPROVAL}
      - SKILLS_ONBOARDING_REQUEST_TYPE=${SKILLS_ONBOARDING_REQUEST_TYPE}
      - SKILLS_ONBOARDING_STATES_COLLECTION=${SKILLS_ONBOARDING_STATES_COLLECTION}
      - SKILLS_ONBOARDING_ROOT_TOPIC=${SKILLS_ONBOARDING_ROOT_TOPIC}
      - SKILLS_ONBOARDING_ROLE=${SKILLS_ONBOARDING_ROLE}
      - SKILLS_ONBOARDING_URI=${SKILLS_ONBOARDING_URI}
      ## data-manager
      - CORE_DATA_MANAGER_PROTOCOL=http
      - CORE_DATA_MANAGER_HOST=i40-aas-data-manager
      - CORE_DATA_MANAGER_PORT=${CORE_DATA_MANAGER_PORT}
      - CORE_DATA_MANAGER_SUBMODELS_ROUTE=${CORE_DATA_MANAGER_SUBMODELS_ROUTE}
      - CORE_DATA_MANAGER_USER=${CORE_DATA_MANAGER_USER}
      - CORE_DATA_MANAGER_PASSWORD=${CORE_DATA_MANAGER_PASSWORD}
  ##########################################
  i40-aas-storage-adapter-mongodb:
    image: sapi40/i40-aas-storage-adapter-mongodb
    ports:
      - "${APPLICATION_ADAPTERS_MONGODB_PORT}:${APPLICATION_ADAPTERS_MONGODB_PORT}"
    environment:
      ## logging
      - LOGGING_LOGLEVEL=${LOGGING_LOGLEVEL}
      - LOGGING_LOGOUTPUT=${LOGGING_LOGOUTPUT}
      ## mongodb
      - APPLICATION_ADAPTERS_MONGODB_DATABASE_HOST=mongodb
      - APPLICATION_ADAPTERS_MONGODB_DATABASE_PORT=${SKILLS_ONBOARDING_DATABASE_PORT}
      - APPLICATION_ADAPTERS_MONGODB_DATABASE_USER=${SKILLS_ONBOARDING_DATABASE_USER}
      - APPLICATION_ADAPTERS_MONGODB_DATABASE_PASSWORD=${SKILLS_ONBOARDING_DATABASE_PASSWORD}
      - APPLICATION_ADAPTERS_MONGODB_DATABASE_NAME=${SKILLS_ONBOARDING_DATABASE_NAME}
      ## storage-adapter-mongodb
      - APPLICATION_ADAPTERS_MONGODB_SUBMODELS_COLLECTION=${APPLICATION_ADAPTERS_MONGODB_SUBMODELS_COLLECTION}
  ##########################################



  ########################################################
  #### third party containers
  ##########################################
  mongodb:
    image: mongo
    ports:
      - "${SKILLS_ONBOARDING_DATABASE_PORT}:${SKILLS_ONBOARDING_DATABASE_PORT}"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${SKILLS_ONBOARDING_DATABASE_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${SKILLS_ONBOARDING_DATABASE_PASSWORD}
      - MONGO_INITDB_DATABASE=${SKILLS_ONBOARDING_DATABASE_NAME}
  ##########################################
  endpoint-registry-postgres:
    image: postgres:alpine
    ports:
      - "${CORE_REGISTRIES_ENDPOINTS_DATABASE_PORT}:${CORE_REGISTRIES_ENDPOINTS_DATABASE_PORT}"
    environment:
      - POSTGRES_USER=${CORE_REGISTRIES_ENDPOINTS_DATABASE_USER}
      - POSTGRES_PASSWORD=${CORE_REGISTRIES_ENDPOINTS_DATABASE_PASSWORD}
  ##########################################
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "${CORE_BROKER_PORT}:${CORE_BROKER_PORT}"
      - "${CORE_BROKER_PORT_UI}:${CORE_BROKER_PORT_UI}"
      - "${CORE_BROKER_PORT_MQTT}:${CORE_BROKER_PORT_MQTT}"
    volumes:
      - ./src/compose/volumes/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins
  ##########################################
