---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-grpc-endpoint-ingress
  labels: 
    service: grpc-endpoint-ingress
    {{- include "i40-aas.labels" . | nindent 4 }}
spec:
  ports:
  - targetPort: endpoint
    port: {{ .Values.core.ingress.grpc.port }}
    protocol: TCP
  selector:
    service: grpc-endpoint-ingress
    {{- include "i40-aas.selectorLabels" . | nindent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-grpc-endpoint-ingress
  labels: 
    service: grpc-endpoint-ingress
    {{- include "i40-aas.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      service: grpc-endpoint-ingress
      {{- include "i40-aas.selectorLabels" . | nindent 6 }}
  template: 
    metadata:
      labels:
        service: grpc-endpoint-ingress
        {{- include "i40-aas.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: grpc-endpoint-ingress
        image: "{{ .Values.image.repository }}/i40-aas-grpc-endpoint-ingress:{{ .Values.image.release }}"
        ports: 
        - name: endpoint
          containerPort: {{ .Values.core.ingress.grpc.port }}
        env:
        - name: LOGGING_LOGLEVEL
          value: {{ .Values.logging.logLevel }}
        - name: LOGGING_LOGOUTPUT
          value: {{ .Values.logging.logOutput }}
        - name: CORE_BROKER_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-host-collection
              key: CORE_BROKER_HOST
        - name: CORE_BROKER_PORT
          value: {{ .Values.core.broker.port }}
        - name: CORE_INGRESS_EXCHANGE
          value: {{ .Values.core.ingress.exchange }}
        - name: CORE_INGRESS_GRPC_PORT
          value: {{ .Values.core.ingress.grpc.port }}
        envFrom:
        - secretRef:
            name: {{ .Release.Name }}-core-ingress
        volumeMounts:
        - name: certs
          mountPath: "/certs"
          readOnly: true
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
#        livenessProbe:
#          httpGet:
#            path: /health
#            port: endpoint
#          initialDelaySeconds: 600
#          periodSeconds: 60
      volumes:
      - name: certs
        optional: true
        secret:
          secretName: {{ .Values.certificates.secretName }}
---
