## Ref.: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-file-location

## these owners will be the default owners for everything in
## the repo. Unless a later match takes precedence, they will
## be requested for review when someone opens a pull request.
* @heldic @etoster @akiskips

## Order is important; the last matching pattern takes the most
## precedence. When someone opens a pull request that only
## modifies a group of files, only those owner(s) and not the
## global owner(s) will be requested for a review.

## documentation & orga
/docs/ @Manu3756
/NOTICE @Manu3756
/LICENSE @Manu3756
/README.md @Manu3756

## deployment stuff
/helm/
/.travis.yml
/.env
/docker-compose.*.yml
/Makefile
/src/compose/
/src/docker/

## components
/src/ts/cmd/adapter-registry/
/src/ts/cmd/endpoint-registry/
/src/ts/cmd/data-manager/
/src/ts/cmd/https-endpoint-egress/
/src/ts/cmd/https-endpoint-ingress/
/src/ts/cmd/onboarding-skill/
/src/ts/cmd/storage-adapter-mongodb/
/src/go/cmd/endpoint-resolver/
/src/go/cmd/grpc-endpoint-egress/
/src/go/cmd/grpc-endpoint-ingress/
/src/go/pkg/interaction/
/src/go/pkg/logging/
/src/go/pkg/amqpclient/
/src/proto/
